.App {
  text-align: center;

}

.header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: rgb(96, 248, 202);
  align-items: center;
}

.tab {
  min-width: 50px;
  background-color: #fff;
  line-height: 50px;
  cursor: pointer;
}

.one{
  margin: 10px;
  background-color: rgb(235, 104, 104);
}

.two {
  margin: 10px;
  background-color: rgb(113, 233, 123);
}



